<style type="text/css">
    body {
        font-family: sans-serif;
        font-weight: 200;
        margin: 50px;
    }

    h1 {
        text-align: center;
    }

    h3{
        text-decoration: underline;
    }

    table {
        width: 100%;
    }

    table tr td {
        border: 1px solid black;
        padding: 8px
    }

    .clientInfo {
        height: 70vh;
    }

    .clientInfo h2 {
        text-align: center;
    }

    .main-page-header {
        padding-top: 10vh;
        height: 20vh;
        width: 500px;
        margin: auto;
        position: relative;
    }

    .main-page-header img {
        height: 8vh;
        width: auto;
        margin: auto;
        margin-bottom: 50px;
    }

    .main-page-header h1 {
        align-self: baseline;
    }

    .scores {
        height: 100vh;
    }

    h2 {
        text-decoration: underline;
    }

    table {
        border: 1px solid black;
    }

    .correct {
        background-color: rgba(0, 128, 0, 0.65);
    }

    .wrong {
        background-color: rgba(255, 0, 0, 0.64);
    }

    .capitalize-all-first-letter {
        text-transform: capitalize;
    }

    .capitalize-first-word:first-letter {
        text-transform: uppercase;
    }
</style>

<html>
    <head>
        <meta charset=utf-8"/>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    </head>
    <body>
        <div class="main-page-header">
            <img src="http://localhost:3000/images/logo/logo.png"/>
            <h1 class="capitalize-all-first-letter">DiM48 - <%= locales.testResult %></h1>
        </div>
        <div class="clientInfo">
            <h2 class="capitalize-all-first-letter"><%= locales.clientInfo.client %></h2>
            <table>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.clientInfo.age + " " + locales.year%></strong></td>
                    <td><%= data.clientInfo.age + " " + locales.year%></td>
                </tr>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.clientInfo.schooledTill %></strong></td>
                    <td><%= data.clientInfo.schooledTill + " " + locales.year %></td>
                </tr>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.clientInfo.schooledFor %></strong></td>
                    <td><%= data.clientInfo.schooledFor + " " + locales.year%> </td>
                </tr>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.clientInfo.gender %></strong></td>
                    <td> <%= data.clientInfo.gender === "M" ? locales.clientInfo.genders.M : data.clientInfo.gender === "F" ? locales.clientInfo.genders.F : locales.clientInfo.genders.O %></td>
                </tr>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.clientInfo.notes %></strong></td>
                    <td><%= data.clientInfo.notes %></td>
                </tr>
            </table>
        </div>

        <div class="scores">
            <h2 class="capitalize-all-first-letter"><%= locales.scores %></h2>
            <h3 class="capitalize-all-first-letter"><%= locales.phases[0].name %></h3>
            <table>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.correct %></strong></td>
                    <td><%= (data.answersPhase1.score).toFixed(2) %> %</td>
                </tr>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.wrong %></strong></td>
                    <td><%= (100 - data.answersPhase1.score).toFixed(2) %> %</td>
                </tr>
            </table>

            <h3 class="capitalize-all-first-letter"><%= locales.phases[1].name%></h3>
            <table>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.sets.abstractSet %></strong></td>
                    <td><%= (data.answersPhase2.scores.abstractScore).toFixed(2) %> %</td>
                    <td>placeholder %</td>
                </tr>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.sets.groupedSet %></strong></td>
                    <td><%= (data.answersPhase2.scores.groupedScore).toFixed(2) %> %</td>
                    <td>placeholder %</td>
                </tr>
                <tr>
                    <td class="capitalize-all-first-letter"><strong><%= locales.sets.uniqueSet %></strong></td>
                    <td><%= (data.answersPhase2.scores.uniqueScore).toFixed(2) %> %</td>
                    <td>placeholder %</td>
                </tr>
                <tr>
                    <td><strong class="capitalize-all-first-letter"><%= locales.total %></strong></td>
                    <td><%= ((data.answersPhase2.scores.uniqueScore + data.answersPhase2.scores.groupedScore + data.answersPhase2.scores.abstractScore) / 3).toFixed(2) %>
                        %
                    </td>
                    <td>100 %</td>
                </tr>
            </table>

            <h3 class="capitalize-all-first-letter"><%= locales.phases[2].name %></h3>
            <%if(data.answersPhase3.answers.length > 0){%>
                <table>
                    <tr>
                        <td class="capitalize-all-first-letter"><strong><%= locales.sets.abstractSet %></strong></td>
                        <td><%= (data.answersPhase3.scores.abstractScore).toFixed(2) %> %</td>
                        <td>placeholder %</td>
                    </tr>
                    <tr>
                        <td class="capitalize-all-first-letter"><strong><%= locales.sets.groupedSet %></strong></td>
                        <td><%= (data.answersPhase3.scores.groupedScore).toFixed(2) %> %</td>
                        <td>placeholder %</td>
                    </tr>
                    <tr>
                        <td class="capitalize-all-first-letter"><strong><%= locales.sets.uniqueSet %></strong></td>
                        <td><%= (data.answersPhase3.scores.uniqueScore).toFixed(2) %> %</td>
                        <td>placeholder %</td>
                    </tr>
                    <tr>
                        <td class="capitalize-all-first-letter"><strong><%= locales.total %></strong></td>
                        <td><%= ((data.answersPhase3.scores.uniqueScore + data.answersPhase3.scores.groupedScore + data.answersPhase3.scores.abstractScore) / 3).toFixed(2) %>
                            %
                        </td>
                        <td>100 %</td>
                    </tr>
                </table>
            <%} else {%>
                <p class="capitalize-first-word"><%= locales.testNotDoneYet %></p>
            <%}%>
        </div>

        <div class="answers">
            <h2 class="capitalize-all-first-letter"><%= locales.answers %></h2>
            <h3 class="capitalize-all-first-letter"><%= locales.phases[0].name %></h3>
            <table>
                <tr>
                    <th class="capitalize-all-first-letter"><%= locales.photo %></th>
                    <th class="capitalize-all-first-letter"><%= locales.answerTypes.clientAnswer %></th>
                    <th class="capitalize-all-first-letter"><%= locales.answerTypes.correctAnswer %></th>
                    <th class="capitalize-all-first-letter"><%= locales.responseTime %></th>
                </tr>
                <% data.answersPhase1.answers.forEach((answer) => {%>

                <tr class="<%= answer.answer === answer.correctAnswer ? 'correct' : 'wrong' %>">
                    <td><%= answer._id.substring(1) %></td>
                    <td><%= answer.answer %></td>
                    <td><%= answer.correctAnswer %></td>
                    <td><%= answer.responseTime / 1000 + " " + locales.seconds %></td>
                </tr>

                <% if(answer._id.substring(1) == 23){ %>
            </table>
                <br/>
                <br/>
                <br/>
            <table>
                <tr>
                    <th class="capitalize-all-first-letter"><%= locales.photo %></th>
                    <th class="capitalize-all-first-letter"><%= locales.answerTypes.clientAnswer %></th>
                    <th class="capitalize-all-first-letter"><%= locales.answerTypes.correctAnswer %></th>
                    <th class="capitalize-all-first-letter"><%= locales.responseTime %></th>
                </tr>
                <% } %>
                <%
                })
                %>
            </table>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <h3 class="capitalize-all-first-letter"><%= locales.phases[1].name %></h3>
            <table>
                <tr class="capitalize-all-first-letter">
                    <th><%= locales.photo %></th>
                    <th><%= locales.answerTypes.clientAnswer %></th>
                    <th><%= locales.answerTypes.correctAnswer %></th>
                    <th><%= locales.responseTime %></th>
                </tr>
                <% data.answersPhase2.answers.forEach((answer) => {%>

                    <tr class="<%= answer.answer === answer.correctAnswer ? 'correct' : 'wrong' %>">
                        <td><%= answer._id.substring(1) %></td>
                        <td><%= answer.answer %></td>
                        <td><%= answer.correctAnswer %></td>
                        <td><%= answer.responseTime / 1000 + " " + locales.seconds%></td>
                    </tr>

                    <% if(answer._id.substring(1) == 25){ %>
            </table>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <table>
                <tr class="capitalize-all-first-letter">
                    <th><%= locales.photo %></th>
                    <th><%= locales.answerTypes.clientAnswer %></th>
                    <th><%= locales.answerTypes.correctAnswer %></th>
                    <th><%= locales.responseTime %></th>
                </tr>
                <% } %>
                <%
                })
                %>
            </table>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <h3 class="capitalize-all-first-letter"><%= locales.phases[2].name %></h3>
            <%if(data.answersPhase3.answers.length > 0){%>
            <table>
                <tr class="capitalize-all-first-letter">
                    <th><%= locales.photo %></th>
                    <th><%= locales.answerTypes.clientAnswer %></th>
                    <th><%= locales.answerTypes.correctAnswer %></th>
                    <th><%= locales.responseTime %></th>
                </tr>
                <% data.answersPhase2.answers.forEach((answer) => {%>

                    <tr  class="<%= answer.answer === answer.correctAnswer ? 'correct' : 'wrong'%>">
                        <td><%= answer._id.substring(1) %></td>
                        <td><%= answer.answer %></td>
                        <td><%= answer.correctAnswer %></td>
                        <td><%= answer.responseTime / 1000 %> seconds</td>
                    </tr>

                    <% if(answer._id.substring(1) == 24){ %>
            </table>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <table>
                <tr class="capitalize-all-first-letter">
                    <th><%= locales.photo %></th>
                    <th><%= locales.answerTypes.clientAnswer %></th>
                    <th><%= locales.answerTypes.correctAnswer %></th>
                    <th><%= locales.responseTime %></th>
                </tr>
                <% } %>
                <%
                })
                %>
            </table>
            <%} else {%>
                <p><%= locales.testNotDoneYet %></p>
            <%}%>
        </div>
    </body>
</html>
